{% extends "airflow/model_list.html" %}

{% macro render_kfp_link(model, column) %}
  <a href="{{ model.value }}">
    <span
      class="glyphicon glyphicon-new-window"
      title="Link to Kubeflow Pipelines Web UI for this job"
    ></span>
  </a>
{% endmacro %}

{% macro render_task_instance_link(model, column) %}
  <a href="/admin/airflow/task?dag_id={{ model.dag_id|urlencode }}&task_id={{ model.task_id|urlencode }}&execution_date={{ model.execution_date|urlencode }}">{{ model.execution_date }}</a>
{% endmacro %}
