{% extends "admin/model/list.html" %}

{% macro render_kfp_link(model, column) %}
  <a href="{{ model.value }}">{{ model.value }}</a>
{% endmacro %}

{% macro render_task_instance_link(model, column) %}
  <a href="/admin/airflow/task?dag_id={{ model.dag_id|urlencode }}&task_id={{ model.task_id|urlencode }}&execution_date={{ model.execution_date|urlencode }}">{{ model.execution_date }}</a>
{% endmacro %}

{# http://localhost:8080/admin/airflow/task?dag_id=kubeflow_pipelines_coin_example&task_id=kubeflow-pipeline&execution_date=2019-07-03T05%3A43%3A02.193643%2B00%3A00 #}
{# http://localhost:8080/admin/airflow/task?dag_id=kubeflow_pipelines_coin_example&task_id=kubeflow-pipeline&execution_date=2019-07-03%2005:39:25.412072+00:00 #}
